.stage{
    
    position relative;
    font-size: 1.5em;
    user-select none;
    cursor default;
    font-family Arial, sans-serif;
    
    .stage__inner{
        width:100%;
        padding-top 5%;
        position relative;
    
        svg{
        
            height 100%;
            width  100%;
            position absolute;
            top 0;
  
        }
    }
}
       