@font-face{
    
    font-family LatoBlack;
    src url(./Lato-Black.ttf);
}       
        

.stage{
    
    position relative;
    font-size: 1.5em;
    user-select none;
    cursor default;
    .stage__inner{
        width:100%;
        padding-top 5%;
        position relative;
        svg{
            height 100%;
            width  100%;
            position absolute;
            top 0;
            font-family LatoBlack;
           
           
        }
    }
}
       