@font-face{
    
    font-family SourceSansProRegular;
    src url("./SourceSansProRegular.ttf");
}



.dropdown__inner {
    position: relative;
    float: left;
    width: 100%;
    font-family SourceSansProRegular;
    font-size 1.6em;
 
  select {
        
      display none;  
    }
 
    
    .dropdown__icon{
          position: absolute;
          top:0;
          right: 0;
          height 100%;
          width 2.5em;
          border-bottom-right-radius 0.2em;
          border-top-right-radius 0.2em;
          background-color #4eb7a8;
          svg{
              height 100%;
              width 100%; 
              transition: all 275ms;
          }
          
    }
    
  
  
  .dropdown__selected-option {
        background-color #e5e5e5;
        color #888888;
        border none;
        border-radius 0.2em;
        text-align left
        cursor: pointer;
        padding 0.4em 1em;
    }



    .dropdown__ul {
      position: relative;
      float: left;
      width: 100%;
       
  
    ul{

      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 999;
      overflow: hidden;
      height: 0px;
      width: 100%;
      background-color: #e5e5e5;
      padding: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      border-radius 0.2em;
  

        li {
            position: relative;
            float: left;
            width: 96%;
            border-top:0.05em solid darken(#e5e5e5, 25%);
            color #888888;
            list-style-type: none;
            padding 0.4em 1em;
            margin: 0px;  
            transition: all 0.15s ease-in-out;
            display: block;
            cursor:pointer;

                 &:hover {
                    background-color: darken(#e5e5e5, 15%);
                 } 
             }

    }
  
    }

   

    
    


}


.dropdown_open{
    
    
    .dropdown__inner{

         ul{
            height auto !important;
        }
            
            
        .dropdown__icon svg{
            transform rotate(180deg) !important;
        }
            
    }
}