.news{
    
    box-sizing border-box;
    background-size cover;
    border-radius 0.3em;
    overflow hidden;
    font-family Arial, sans-serif;
    .news__inner{

        background-color #e75735;
        margin-left 33%;
        padding 2.7em;
        padding-bottom 4em;
        color white;
        box-sizing border-box;
        height 100%;
        
        .news__title{
            
            margin 0;
            font-size 3.2em;
            line-height 1em;
        }
        
        .news__date{
            
             text-transform uppercase;
             font-size 1.3em;
        }
        
        .news__text{
            
            margin-bottom 0;
            font-size 1.4em;
            line-height 1.2em;
        }
    }
}

