mixin News(options)    
    section&attributes(attributes)(style="background-image: url("+options.fon+");" ).news
                        div( style= options.color ? "background-color: " + options.color : "" ).news__inner
                            p.news__title!= options.title 
                            p.news__date!= options.date 
                            p.news__text!= options.text 