mixin Profil( options)
    section&attributes(attributes).profil(class= options.theme ? "profil_"+options.theme : "")
        div(style="background-image: url("+options.photo+");").profil__portrait
        div.profil__data
            div.profil__data-arrow
            p.profil__name!= options.name
            p.profil__profession!= options.profession
            div.profil__links
                each link in options.links
                    a(href!=link.href target="_blank" rel="noopener noreferrer")
                        i(class="fa fa-"+link.icon)