.tick-box{

    cursor: pointer;
    
    .tick-box__inner{

        padding-top 100%;
        position relative;
        
        .tick-box-svg{
            
            width 100%;
            height 100%;
            position absolute;
            top: 0;
            left 0; 
        }
        
    }
}