mixin Toggle(options)
    label(style= options.color ? "background-color:"+options.color+";" : "" checked!=options.checked )&attributes(attributes).toggle.toggle_on
        div.toggle__circle
        input(type="checkbox" name!= options.name style="display: none")