mixin Location( options )
    div&attributes(attributes)(data-lat!=options.lat data-lng!=options.lng data-marker!=options.marker).map
        div.map__body
        div( style= options.color ? "background-color: "+ options.color : "").map__footer
            div.map__footer-title!=options.title
            div.map__footer-place!=options.address
            div.map__footer-icons
                i(aria-hidden='true').fa.fa-crosshairs
                i(aria-hidden='true').fa.fa-map-marker