mixin Event( options )
    section&attributes(attributes)(style="background-image: url("+options.fon+")" class= options.theme ? "event_"+options.theme : "").event
        div.event__inner
            p.event__date  
                span!= options.day 
                != options.month
            p.event__title!= options.title 
            p.event__text!= options.text
            div.event__button
                +ripple-button({text: options.button})