include ./Elements/Button/button.pug
include ./Elements/Arrow-button/arrow-button.pug
include ./Elements/Pie-chart/pie-chart.pug
include ./Elements/Slider/Slider.pug
include ./Elements/stage/stage.pug
include ./Elements/toggle/toggle.pug
include ./Elements/tick-box/tick-box.pug
include ./Elements/news/news.pug
include ./Elements/Event/event.pug
include ./Elements/messaging/messaging.pug
include ./Elements/message-form/search.pug
include ./Elements/video/video.pug

doctype !html
html
    head
    meta(charset = 'utf-8')
    script( defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdl-cDpfExj61H5C4hORCrz7WqBBEQKlU&libraries=places&language=ru' )
    title Webpack app
    body
        div.container
            article.standart-buttons
                h2.title standart buttons
                section.standart-buttons__row
                    +ripple-button('button', '#4eb7a8')(style="font-size: 18px;")
                    +ripple-button('button', '#4eb7a8')(style="font-size: 25px;")
                    +ripple-button('button', '#e75735')(style="font-size: 25px;" )
                    +ripple-button('button', '#e75735')(style="font-size: 18px;")
                section.standart-buttons__row
                    +ripple-button('button', '#4eb7a8', '#28a290')(style="font-size: 18px;" )
                    +ripple-button('button', '#4eb7a8', '#28a290')(style="font-size: 25px;")
                    +ripple-button('button', '#e75735', '#bf3e1f')(style="font-size: 25px;")
                    +ripple-button('button', '#e75735', '#bf3e1f')(style="font-size: 18px;")
                section.standart-buttons__row
                    +ripple-button('button', 'white', '#4eb7a8', '#4eb7a8')(style="font-size: 18px; color: #4eb7a8" )
                    +ripple-button('button', 'white', '#4eb7a8', '#4eb7a8')(style="font-size: 25px; color: #4eb7a8")
                    +ripple-button('button', 'white', '#e75735', '#e75735')(style="font-size: 25px; color: #e75735")
                    +ripple-button('button', 'white', '#e75735', '#e75735')(style="font-size: 18px; color: #e75735")
            article.arrow-buttons
                h2.title arrow buttons
                section.arrow-buttons__row
                    +arrow-button('left','#4eb7a8','white','#4eb7a8')(style="width: 95px;")
                    +arrow-button('right','#4eb7a8','white','#4eb7a8')(style="width: 95px;") 
                    +arrow-button('left','#e5e5e5','#e5e5e5','white')(style="width: 95px;")
                    +arrow-button('right','#e5e5e5','#e5e5e5','white')(style="width: 95px;")
                    +arrow-button('left','#4eb7a8','#4eb7a8','white')(style="width: 95px;")
                    +arrow-button('right','#4eb7a8','#4eb7a8','white')(style="width: 95px;")
            article.pie-charts
                h2.title percentages / pie chart
                section.pie-charts__row
                    +Pie-chart('0')
                    +Pie-chart('38')
                    +Pie-chart('62')
                    +Pie-chart('89')
                    div.donut-chart
            article.sliders
                h2.title sliders
                section.slider__row
                   +Slider('#e5e5e5', '#e75735', false, true, '#e75735')
                   +Slider('#e5e5e5', '#4eb7a8', true, false)
            article.stages
                h2.title stages
                +Stage(5, 3, '#e5e5e5')
            article.form-elements
                h2.title form elements
                section.form-elements__row
                    form.message-form
                        div.hint-control#message-form-name
                            input(type="text" placeholder="Your Name" ).message-form_form-control.message-form__input-text
                        br
                        div.hint-control#message-form-email
                            input(type="text" placeholder="Your Email").message-form_form-control.message-form__input-text
                        br
                        textarea( placeholder="Your Message" rows="4").message-form_form-control.message-form__textarea
                        br
                        +ripple-button('button', '#4eb7a8', '#28a290')
                    div.form-elements__control
                        h2.title toggles
                        section.toggles
                            +Toggle('toggle1',"#4eb7a8")
                            +Toggle('toggle2',"#4eb7a8")(checked)
                        h2.title tick boxes
                        section.tick-boxes
                            +tick-box('tick-box1','#4eb7a8','white')(style="width: 45px;")
                            +tick-box('tick-box2','#4eb7a8','white')(style="width: 45px;" checked)
            article.one-more-article
                div.search
                    h2.title search / drop down
                    form.message-form
                        +Search('search1')
                        +Search('search2')
                        div#myselect 
                article.user-profiles
                    h2.title user profile
                    section#profil1
                    section#profil2
            article.news-events
                h2.title news & events
                secton.news-events__row
                    +News("It's all going downhill", '24 august 2013', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.', './public/news.jpg' )
                    +Event('24', 'Aug', 'THIS IS THE TITLE', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', './public/event.jpg')
            article.location
                h2.title location
                div#my_map
            article.calendar_messaging
                section.calendar_section
                    h2.title calendar
                    div(type="text" id="mycalendar")
                section.messaging_section
                    h2.title messaging
                    +Messaging('Sarah Brown', 'public/profil2.jpg' ,'Hey! So are we cool to meet at the art gallery? Say 8pm', 'Yeah that sounds great. See you then.')
            article.video
                h2.title video
                +Video('https://i.vimeocdn.com/video/433176722.webp?mw=1400&mh=654', 'https://16-lvl3-pdl.vimeocdn.com/01/2596/2/62980495/156181927.mp4?expires=1498733590&token=0cfbb45741536ad59eb82')
                +Video('https://i.vimeocdn.com/video/433176722.webp?mw=1400&mh=654', 'https://www.w3schools.com/html/mov_bbb.mp4', 'https://www.w3schools.com/html/mov_bbb.ogg')