include ./Elements/Button/button.pug
include ./Elements/Arrow-button/arrow-button.pug
include ./Elements/Pie-chart/pie-chart.pug
include ./Elements/Slider/Slider.pug
include ./Elements/stage/stage.pug
include ./Elements/toggle/toggle.pug
include ./Elements/tick-box/tick-box.pug
include ./Elements/news/news.pug
include ./Elements/Event/event.pug
include ./Elements/calendar/calendar.pug
include ./Elements/messaging/messaging.pug
include ./Elements/message-form/message-form.pug
include ./Elements/video/video.pug
include ./Elements/donut-chart/donut-chart.pug
include ./Elements/profil/profil.pug
include ./Elements/location/location.pug


doctype !html
html
    head
        meta(charset = 'utf-8')
        meta(name="Keywords" content = "fsd, fullstackdevelopment, template2")
        meta(name="description" content = "Template 2")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link( rel="icon" href="favicon.ico" type="image/-icon")
        link( rel="shortcut icon" href="favicon.ico" type="image/-icon")
        link( rel="mask-icon" href="favicon.svg" color="#FFC618")
        title FullStack-Template2
        script( src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdl-cDpfExj61H5C4hORCrz7WqBBEQKlU&libraries=places&language=ru' )
    body
        div.container
            article.standard-buttons
                header.title standard buttons
                section.standard-buttons__row 
                    +ripple-button({text:'button', theme:'simple-blue'})
                    +ripple-button({text:'button', theme:'simple-blue'})
                    +ripple-button({text:'button', theme:'simple-red'})
                    +ripple-button({text:'button', theme:'simple-red'})
                section.standard-buttons__row
                    +ripple-button({text:'button', theme:'border-bottom-blue'})
                    +ripple-button({text:'button', theme:'border-bottom-blue'})
                    +ripple-button({text:'button', theme:'border-bottom-red'})
                    +ripple-button({text:'button', theme:'border-bottom-red'})
                section.standard-buttons__row
                    +ripple-button({text:'button', theme:'white-blue'})
                    +ripple-button({text:'button', theme:'white-blue'})
                    +ripple-button({text:'button', theme:'white-red'})
                    +ripple-button({text:'button', theme:'white-red'})
            article.arrow-buttons
                header.title arrow buttons
                section.arrow-buttons__row
                    +arrow-button({angle: 180, theme: 'white-blue'})
                    +arrow-button({angle: 0, theme: 'white-blue'}) 
                    +arrow-button({angle: 180, theme: 'white-blue', disabled: true})
                    +arrow-button({angle: 0, theme: 'white-blue', disabled: true})
                    +arrow-button({angle: 180, theme: 'blue-white'})
                    +arrow-button({angle: 0, theme: 'blue-white'})
            article.pie-charts
                header.title percentages / pie chart
                section.pie-charts__row
                    +Pie-chart({value: 0} )
                    +Pie-chart({value: 38, width: 5, color: '#e75735'} )
                    +Pie-chart({value: 62, width: 5, color: '#e75735'})
                    +Pie-chart({value: 89, width: 5, color: '#e75735'} )
                    +Donut-chart({width: 0.33, parts: [{"color": '#747474', "value": 11},
                                                        {"color": '#e75735', "value": 26},
                                                        {"color": '#4eb7a8', "value": 30},
                                                        {"color": '#e5e5e5', "value": 33}]} )
            article.sliders
                header.title sliders
                section.slider__row
                   +Slider( { color: '#e75735', numbers: false, hint: true })
                   +Slider( { color: '#4eb7a8', numbers: true, hint: false })
            article.stages
                header.title stages
                +Stage({stages: 5, complete: 3, color: '#e75735'})
            article.form-elements
                header.title form elements
                section.form-elements__row
                    form.message-form
                        +HintControl({ hint: 'error', input:'text', name: 'inputname', placeholder: 'Your Name'})
                        br
                        +HintControl({ hint: 'thanks', input:'text', name: 'inputname', placeholder: 'Your Email'})
                        br
                        textarea( placeholder="Your Message" rows="4").message-form__form-control.message-form__textarea
                        br
                        +ripple-button({text: 'submit', theme: 'border-bottom-blue'} )
                    div.checkboxes
                        h2.title toggles
                        section.checkboxes__toggles
                            +Toggle( {name: 'toggle1', color: "#4eb7a8"} )
                            +Toggle( {name: 'toggle2', color: "#4eb7a8", checked: true} )
                        h2.title tick boxes
                        section.checkboxes__tick-boxes
                            +tick-box({ name: 'tick-box1', color: '#4eb7a8', checked: true })
                            +tick-box({ name: 'tick-box2', color: '#4eb7a8' })
            article.one-more-article
                div.search
                    header.title search / drop down
                    form.message-form
                        +Search({name: 'search1', placeholder: 'Search', color: '#e75735'})
                        +Search({name: 'search2', placeholder: 'Search', color: '#e75735', notfound: true})
                        +Dropdown({ placeholder: 'Choose an option', name: 'inputname', color: '#4eb7a8', options: [{value: 'option1', text: "option1"},{value: 'option2', text: "option2"},{value: 'option3', text: "option3"}]})
                article.user-profiles
                    header.title user profile
                    +Profil({ photo: './public/profil1.jpg',name: 'John Smith', profession: 'ux designer', theme: 'red-name',
                                            links: [{href: '/mock-address/change-me', icon: 'facebook'},
                                                    {href: '/mock-address/change-me', icon: 'twitter'},
                                                    {href: '/mock-address/change-me', icon: 'dribbble'}]})
                    +Profil({ photo: './public/profil2.jpg', name: 'Sarah Brown', profession: 'developer', theme: 'light-blue',
                                            links: [{href: '/mock-address/change-me', icon: 'facebook'},
                                                    {href: '/mock-address/change-me', icon: 'twitter'},
                                                    {href: '/mock-address/change-me', icon: 'dribbble'}]})
            article.news-events
                header.title news & events
                secton.news-events__row
                    +News({title: "It's all going downhill", date: '24 august 2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.', fon: './public/news.jpg', color: '#e75735' } )
                    +Event({ day: '24', month: 'Aug', title: 'THIS IS THE TITLE', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', fon:'./public/event.jpg', button: 'add to calendar', theme: 'blue' })
            article.location
                header.title location
                +Location({ title: 'Meet us!', address: '1259  CALIFORNIA ST San Francisco, CA ', lat: 37.795712, lng: -122.414756, marker: './public/marker.png', color: '#e75735' })
            article.calendar_messaging
                section.calendar_section
                    header.title calendar
                    +Calendar({ name: 'input_name', theme: 'red' })
                section.messaging_section
                    header.title messaging
                    +Messaging({ name: 'Sarah Brown', photo: './public/profil2.jpg' , request: 'Hey! So are we cool to meet at the art gallery? Say 8pm', response: 'Yeah that sounds great. See you then.', button: 'Replay'})
            article.video
                header.title video
                +Video({poster: 'https://i.vimeocdn.com/video/433176722.webp?mw=1400&mh=654', sources: ['https://16-lvl3-pdl.vimeocdn.com/01/2596/2/62980495/156181927.mp4?expires=1498733590&token=0cfbb45741536ad59eb82']})
                +Video({ poster: 'https://i.vimeocdn.com/video/433176722.webp?mw=1400&mh=654', 
                sources: ['https://www.w3schools.com/html/mov_bbb.mp4', 'https://www.w3schools.com/html/mov_bbb.ogg'], theme: 'blue'})