@font-face{
    
    font-family LatoBlack;
    src url(./Fonts/Lato-Black.ttf);
}

@font-face{
    
    font-family LatoLight;
    src url(./Fonts/Lato-Light.ttf);
}

.container{

    margin auto;
    width: 1200px;
    padding-top 9%;
    .title{
        
        font-family LatoBlack;
        text-align center;
        font-size 2.2em;
        
        text-transform uppercase;
        color #4f4f4f;
       
    }
    
    .standard-buttons{
      
        width 74%;
        margin auto;
        margin-bottom 8.5%;
        .standard-buttons__row{
            
            display flex;
            justify-content space-between;
            align-items flex-end;
            margin-bottom 4.5%;
        }
        
        .title{
            margin-bottom 15%;
        }
    }
    
    .arrow-buttons{
        
        width 68%;
         margin auto;
         margin-bottom 7%;
         .title{
            margin-bottom 8.5%;
        }
        
        .arrow-buttons__row{
            
           display flex;
           justify-content space-between;
           
           .arrow-button{
               
               width 11.5%;
           }
        }
    }
    
     .pie-charts{
       
        width 100%;
         margin auto;
         margin-bottom 5%;
      
         .title{
            margin-bottom 4.2%;
        }
        
        .pie-charts__row{
            
           padding-right 45px;
          
           display flex;
           justify-content space-between;
           align-items center;
           
           .pie-chart{
               color #9d9d9d;
               font-family LatoLight;
               width 16%;
              
           }
           
           .donut-chart{
               
               width 16%;
           }
        }
    }
    
    .sliders{
        
          margin-bottom 5.2%;
          
          
         .title{
            margin-bottom 5.8%;
        }
        
        .slider__row{
           padding 0 1.5% 0 0;
            display flex;
            justify-content space-between;
            
            .slider{
                width 47%;
                font-size 1.6rem;
            }
        }
        
    }
    
    
    .stages{
        
        margin-bottom 8.2%;
         .title{
            margin-bottom 4.6%;
        }
        
          .stage{
        
         width 97%;
         margin auto;   
        }
    }
    
    .form-elements{
        
        margin-bottom 6.5%;
        
          .title{
            margin-bottom 8%;
            }
        
        .form-elements__row{
             
            padding-left 2.3%;
            padding-right 15%;
            display flex;
            justify-content space-between;     
                
                .message-form{
            
                    width 56%
       

                    .hint-control{
                        
                        width 72%;
                        font-size 1.6rem;
                         margin-bottom 0.35em;
                    }

                    textarea{
                        font-size: 1.5em;
                        width 100%;
                        margin-bottom 3.6%;
                    }
                    
                    button{
                        
                        font-size 1.6em;
                        float: right;
                        width 9em;
                    }
                }
                
                   .form-elements__control{

                       
                       .title{

                            &:first-child{
                                margin-top -4.7%;
                                margin-bottom 24%;
                            }
                            
                             &:nth-child(3){
                                margin-top 28%;
                                margin-bottom 1.65em;
                            }
                        }

                        width 25%;
                        text-align center;

                        .toggles{

                            display flex;
                            justify-content space-between;
                            margin-bottom 2em;
                            font-size 2rem;
                        }
                        
                        .tick-boxes{
                             
                            display flex;
                            justify-content space-between;
                            padding 0 30%  0 20%;
                            
                            
                            .tick-box{
                                
                                width 40%;
                                font-size 2rem;
                            }
                        }
                }
     
        }
         
    }
       
        .one-more-article{
            
            display flex;
            justify-content space-between;
            padding-left 2%;
            margin-bottom 10.8%;
            padding-right 5%
            
            .search{
                
                width 50%;
                
                .title{

                    font-size 2.2em;
                    margin-bottom 1.1em;
                }
                .message-form{
                    width 100%;
                    
                    .message-form__input-search{

                        width 100%;
                        font-size 1.8em;
                        margin-bottom 1em;
                    }
                    
                    .dropdown{

                        width 100%;
                        font-size 1.8em;
                        margin-bottom 1em;
                    }
                }
            }
            
            .user-profiles {
                    width: 44%;
                      
                   .title{
                       margin-bottom 11.5%;
                      
                   }
                   
                   
                   .profil {
                       
                       margin-bottom 10%;
                   }
                   
              
                }
        }
    
  
        .news-events{
            
            margin-bottom 7.5%;
            
            .title{

                margin-bottom 5%;
            }
            
            .news-events__row{

                display flex;
                justify-content space-between;
                align-items flex-start;
                padding-left 2.2%;
                padding-right 2.6%;
                height 25.5rem

                .news, .event{
                    
                    width 48.5%;   
                }

            }
        }
        
        
        .location{

            margin-bottom 5.25%;
            .title{
                
                margin-bottom 4.8%;
            }
            
            .map{

            width 95%;
            margin auto;
            }
        }
        
        .calendar_messaging{
            
            display flex;
            justify-content space-between;
            padding-left 2.4%;
            padding-right 2.6%;
            margin-bottom 9.2%;
            
            .title{
                    
                    margin-bottom 10%;
                }
                
            .calendar_section{
                
                width 46%;
            
              
                
                #mycalendar{
                      
                      position relative;
                }
            }
            
            .messaging_section{
                width 48.5%;

                 
            }
        }
        
        
        .video{
            
           
            width 95%;
            margin auto;
             
            .title{
                
                margin-bottom 4%;
            }
            
            .player{
                margin-bottom 5%;
            }
          
        }
}





