@font-face{
    
    font-family LatoBlack;
    src url(./Fonts/Lato-Black.ttf);
}

@font-face{
    
    font-family LatoLight;
    src url(./Fonts/Lato-Light.ttf);
}

.container{

    margin auto;
    width: 1200px;
    padding-top 110px;
    .title{
        
        font-family LatoBlack;
        text-align center;
        font-size 2.4em;
        
        text-transform uppercase;
        color #4f4f4f;
       
    }
    
    .standart-buttons{
      
        width 74%;
        margin auto;
        margin-bottom 5.7em;
        .standart-buttons__row{
            
            display flex;
            justify-content space-between;
            align-items flex-end;
            margin-bottom 40px;
        }
        
        .title{
            margin-bottom 3.6em;
        }
    }
    
    .arrow-buttons{
        
        width 74.5%;
         margin auto;
         margin-bottom 5.2em;
         .title{
            margin-bottom 1.8em;
        }
        
        .arrow-buttons__row{
            
           display flex;
           justify-content space-between;
        }
    }
    
     .pie-charts{
       
        width 100%;
         margin auto;
         margin-bottom 3.5em;
      
         .title{
            margin-bottom 1.2em;
        }
        
        .pie-charts__row{
               padding-right 45px;
           display flex;
           justify-content space-between;
           align-items center;
           
           .pie-chart{
               color #9d9d9d;
               font-family LatoLight;
              
           }
        }
    }
    
    .sliders{
        
          margin-bottom 5%;
          
         .title{
            margin-bottom 5.8%;
        }
        
        .slider__row{
           padding 0 1.5%;
            display flex;
            justify-content space-between;
            
            .slider{
                width 47%;
            }
        }
        
    }
    
    
    .stages{
        
        margin-bottom 8%;
         .title{
            margin-bottom 4.6%;
        }
        
          .stage{
        
         width 97%;
         margin auto;   
        }
    }
    
    .form-elements{
        
        margin-bottom 6.2%;
        
          >.title{
            margin-bottom 8%;
            }
        
        .form-elements__row{
             
            padding-left 2.6%;
            padding-right 15%;
            display flex;
            justify-content space-between;     
                
                .message-form{
            

                    .hint-control{
                        width 24.8em;
                        margin-bottom 0.4em;
                    }

                    input{
                        font-size: 1.5em;
                        width 100%;
                    }

                    textarea{
                        font-size: 1.5em;
                        width 23em;
                        margin-bottom 3%;
                    }
                    
                    button{
                        
                        font-size 1.6em;
                        float: right;
                    }
                }
                
                   .form-elements__control{

                       
                       .title{

                            &:first-child{
                                margin-top -0.25em;
                                margin-bottom 1.3em;
                            }
                            
                             &:nth-child(3){
                                margin-top 0em;
                                margin-bottom 1.65em;
                            }
                        }

                        width 25%;
                        text-align center;

                        .toggles{

                            display flex;
                            justify-content space-between;
                            margin-bottom 4em;
                        }
                        
                        .tick-boxes{
                             
                            display flex;
                            justify-content space-between;
                            padding 0 30%  0 20%;
                        }
                }
     
        }
         
    }
       
        .one-more-article{
            
            display flex;
            justify-content space-between;
            padding-left 2%;
            margin-bottom 14.5%;
            padding-right 5%
            .search{
                
                width 50%;
                
                .title{

                    font-size 2.2em;
                    margin-bottom 1.1em;
                }
                .message-form{
                    width 100%;
                    
                    .message-form__input-search{

                        width 100%;
                        font-size 1.8em;
                        margin-bottom 1em;
                    }
                }
            }
            
            .user-profiles {
                    width: 44%;
                      
                   .title{
                       margin-bottom 8.3%;
                      
                   }
                   
                   
                   #profil1 {
                       
                       margin-bottom 9%;
                   }
                   
                   #profil1 .profil__data{
                       
                       .profil__name{
                           color #e75735;
                       }
                       
                       .profil__profession{
                           
                          color #747474;
                       }
                       
                       .profil__links a{

                           &:nth-child(1),
                           &:nth-child(3){
                               color #747474;
                           }
                           
                            &:nth-child(2){
                           
                           color #e75735;
                           }
                       }
                   }
                   
                   #profil2 .profil__data{
                       
                       background-color #4eb7a8;
                       
                       .profil__data-arrow{
                           border-color transparent #4eb7a8 transparent transparent ;
                       }
                   }
                }
        }
    
  
        .news-events{
            
            margin-bottom 7.5%;
            
            .title{

                margin-bottom 5%;
            }
            
            .news-events__row{

                display flex;
                justify-content space-between;
                align-items flex-start;
                padding-left 2.2%;
                padding-right 2.6%;
                .news, .event{
                    
                    width 48.5%;   
                }

            }
        }
        
        
        .location{

            margin-bottom 5%;
            .title{
                
                margin-bottom 4.3%;
            }
            
            #my_map{

            width 95%;
            margin auto;
            }
        }
        
        .calendar_messaging{
            
            display flex;
            justify-content space-between;
            padding-left 2.4%;
            padding-right 2.6%;
            margin-bottom 9%;
            
            .title{
                    
                    margin-bottom 9%;
                }
                
            .calendar_section{
                
                width 46%;
            
              
                
                #mycalendar{
                      
                      position relative;
                }
            }
            
            .messaging_section{
                width 48.5%;

                 
            }
        }
        
        
        .video{
            
           
            width 95%;
            margin auto;
             
            .title{
                
                margin-bottom 4%;
            }
            
            .player{
                margin-bottom 5%;
            }
          
        }
}





